/*Estilo para todo el documento*/
* { 
	margin: 0px; /**/
    padding: 0px; 
    outline: 0;
}

body { 
	background: #808080;     /*Color de fondo de la pagina*/
    font-family: Verdana, Arial, Helvetica, sans-serif; /*Tipo de letra del cuerpo*/
    font-size: 10pt; 
    font-weight: bold; 
    background-image: url(../imagenes/portada.jpeg); 
    /*background-image: url(../../imagenes/compu.jpg); 
    background-repeat: no-repeat; 
    background-position: center center;*/
   
}

#principal {
	width: 144px;
	color: #fff;  /*Color de la letra de Menú principal*/
	background-color: #399;   /*Color de Fondo del boton donde está Menú Principal*/
	border: solid 1px #fff;   /*Color del borde*/
	padding: 8px;
	position: absolute;
	margin: 20px;
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;  /*Convierte al cursor en una mano al pasar por el enlace del Boton Menú principal*/
}
#principal:hover {background-color: #0000CA;/*Color al pasar por el botón*/}

#principal:hover #menu {display: block;}

#menu { 
	text-align: center;
	font-size: 0.85em;
	width: 320px;
	display: none;
	position: relative;
	padding-top: 10px;
	left: -9px;
	margin-bottom: -10px;
}
#menu ul { 
	list-style-type:none;
	border: 0;
}
#menu ul li.nivel1 { width: 162px; }
#menu ul li.primera { border-top: solid 1px #FFF;}
#menu ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #399;
	border: solid 1px #fff;
	border-top: none;
	padding: 8px;
	position: relative;
}
#menu ul li:hover {
	position: relative;
	background-color: #6CC;
	color: #000;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #6CC;
	color: #000;
	position: relative;
}
#menu ul li a.nivel1 {
	display: block!important;
	display: none;
	position: relative;
}

#columna {
	margin-right: 400px;
	float: right;
	width: 33%;
	text-align: justify;
	color: #000;  /*Color de la letra del formulario*/

}
#subtitulo2 { /*Caracteríticas de los subtítulos por ej Formulario 1*/
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 30px;
	color: #0615FA;
}

.boton{
	border-radius: 17px;
	font-weight: bold;
	width: 90px;
	height: 25px;
}

table{
   background: #C0C0C0;
   border-width: 5px;
   border-radius: 10px;
 }